<h3 id="sendmessage-receiver-username-holder"></h3>

<form onsubmit="sendMessage(); return false">
    <div class="mb-3">
        <label for="message-content-input" class="form-label">Message content</label>
        <textarea class="form-control" id="message-content-input" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<button class="btn btn-info" onclick="loadFragment('homepage')">Back to homepage</button>

<script src="./js/sendMessage.js"></script>